/*quadro onde todos os outros quadrados estarão inseridos*/
.quadro{
    position: relative;
    width: 700px;
    height: 1400px;
    border: 1px solid black;
}

/*tamanho de todos os quadrados coloridos*/
.quadrado{
    /*display: inline-block;*/
    width: 100px;
    height: 100px;
}

.quadrado_red{
    background-color: red;
}

.quadrado_blue{
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: blue;
}

.quadrado_green{
    background-color: green;
    position: relative;;
}