/*quadro onde todos os outros quadrados estarão inseridos*/
.quadro{
    position: relative;
    width: 700px;
    height: 400px;
    border: 1px solid black;
}

/*tamanho de todos os quadrados coloridos*/
.quadrado{
    /*display: inline-block;*/
    width: 100px;
    height: 100px;
}

.quadrado_red{
    background-color: red;
}

.quadrado_blue{
    background-color: blue;
    position: absolute;
    right: 1px;
    bottom: 1px;
    /*left: 400px;
    top: 200px;*/
    /*margin-left: 34px;
    margin-top: 20px;*/
}

.quadrado_green{
    background-color: green;
}